<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655448867197-utmvq9q7nk41tf0jtto34ib6ourg91hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655448867197-utmvq9q7nk41tf0jtto34ib6ourg91hd</string>
	<key>API_KEY</key>
	<string>AIzaSyC2NYJ0_6hRMBtPbDjK5boB9IGh9QHL8EU</string>
	<key>GCM_SENDER_ID</key>
	<string>655448867197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mhdfaiz.portfolio.portfolio</string>
	<key>PROJECT_ID</key>
	<string>viewtofaizdesk</string>
	<key>STORAGE_BUCKET</key>
	<string>viewtofaizdesk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655448867197:ios:aa22bc5018033c328c0c14</string>
</dict>
</plist>